@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F9F9F9] text-[#0A0A0A] dark:bg-[#050505] dark:text-[#F2F2F2] antialiased transition-colors duration-1000;
  }
}

/* Viscous Reveal Animation */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
